# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite databases
flights.db
*.sqlite3

# Virtual environment
venv/
.env
env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.spec

# IDE
.vscode/
.idea/

# Misc
.DS_Store
